html,body{
      text-align:center;
      min-width:300px;
      color:#333;
      }
      #main{
        margin:20px auto;
        padding:20px;
        border:1px solid;
        border-radius:20px;
        background:#d0cbcb;
      }
      img{
        max-width:100%;
        display: block;
        height: auto;
        margin: auto;
      }
      #img-div{
        margin:-5px;
        margin-top:10px;
        width:100%;
        border:5px solid white;
        background:white;
      }
      .italic{
        font-style: italic;
        text-decoration:none;
      }